.button {
  border-radius: var(--radius-lg);
  padding: var(--space-1) var(--space-3);
  background-color: var(--surface);
  border: 3px solid var(--accent);
  color: var(--accent);
  font-size: var(--font-size-lg);
  font-weight: 600;
  text-wrap: nowrap;
  cursor: pointer;
  transition:
    background var(--transition-fast),
    color var(--transition-fast);

  &:hover {
    background-color: var(--accent);
    color: var(--surface);
  }
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
